<!DOCTYPE html>
<html>
    <head>
        <title>Configure Plex Server</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="data:image/x-icon;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQEAYAAABPYyMiAAAABmJLR0T///////8JWPfcAAAACXBIWXMAAABIAAAASABGyWs+AAAAF0lEQVRIx2NgGAWjYBSMglEwCkbBSAcACBAAAeaR9cIAAAAASUVORK5CYII=" rel="icon" type="image/x-icon" />

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/assets/css/configuration.css">
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>

        <script type="text/javascript">
            $(() => {
                const data = {/*{{data}}*/};

                var saveToSelect = $('select[name="save-to"]');

                Object.values(data.dirs).forEach((d) => {
                    saveToSelect.append(`<option value="${d.mount}">${d.label}</option>`);
                });

                $('select[name="sub-locale"]').change((evt) => {
                    const subValue = $(evt.target).val();

                    if (subValue === 'none') {
                        $('#sub-info').hide();
                    } else {
                        $('#sub-info').show();
                    }
                });

                $(':checkbox#use-saved-opensub').change((evt) => {
                    const isChecked = $(evt.target).is(':checked');
                    $('input[name="use-saved-opensub"]').val(isChecked ? 1 : 0);
                    $('#opensubtitles-chedentials')[isChecked ? 'hide' : 'show']();
                });

                $('select[name="sub-locale"]').change((evt) => {
                    const subValue = $(evt.target).val();

                    if (subValue === 'none') {
                        $('#sub-info').hide();
                    } else {
                        $('#sub-info').show();
                    }
                });

                if (data.dir.movies) {
                    $('input[name="movies-dir"]').val(data.dir.movies);
                } else {
                    $('input[name="movies-dir"]').prop('readonly', false);
                }

                if (data.dir.shows) {
                    $('input[name="shows-dir"]').val(data.dir.shows);
                } else {
                    $('input[name="shows-dir"]').prop('readonly', false);
                }

                if (!data.dir.movies || !data.dir.shows) {
                    saveToSelect.closest('form-group').show();
                }

                if (data.osUsername) {
                    $(':checkbox#use-saved-opensub').prop('checked', true).change().closest('.checkbox').show();
                    $('input[name="opensub-username"]').val(data.osUsername)
                    $('#opensubtitles-chedentials').hide();
                }

                if (data.subLocale) {
                    $('select[name="sub-locale"]').val(data.subLocale).change();
                }

                const matchError = window.location.search.match(/(\?|&)error=(?<msg>[^&]+)/);

                if (matchError) {
                    $('#error-msg').html(decodeURIComponent(matchError.groups.msg)).css('display', '');
                }
            });
        </script>
    </head>
    <body>
        <div class="container text-center">
            <div id="error-msg" class="alert alert-danger" style="display: none;margin: 0 auto;max-width: 500px;"></div>

            <form class="form-configure" method="POST" action="/configure/step-2">
                <h2 class="form-configure-heading">Configure step 2</h2>

                <div class="form-group" style="display: none;">
                    <label for="save-to">Save files to</label>
                    <select name="save-to" class="form-control"></select>
                </div>

                <div class="form-group">
                    <label for="movies-dir">Movies directory name</label>
                    <input type="text" name="movies-dir" class="form-control" placeholder="Movies dir" readonly required>
                </div>

                <div class="form-group">
                    <label for="shows-dir">Shows directory name</label>
                    <input type="text" name="shows-dir" class="form-control" placeholder="Shows dir" readonly required>
                </div>

                <div class="content-split">
                    <div></div><div>Subtitles</div><div></div>
                </div>

                <div class="form-group" style="margin-top: 10px;">
                    <label for="sub-locale">Auto download subtitles</label>
                    <select name="sub-locale" class="form-control">
                        <option value="none">Don't download</option>
                        <option value="pt-BR">Português (pt-BR)</option>
                        <option value="es">Español (es)</option>
                        <option value="fr">Français (fr)</option>
                    </select>
                </div>

                <div id="sub-info" style="display: none;">
                    <div class="content-split">
                        <div></div><div>OpenSubtitles</div><div></div>
                    </div>

                    <div class="checkbox" style="display: none;">
                        <label>
                            <input type="hidden" name="use-saved-opensub" value="0">
                            <input type="checkbox" id="use-saved-opensub"> Use saved OpenSubtitles credentials
                        </label>
                    </div>

                    <div id="opensubtitles-chedentials">
                        <div class="form-group" style="margin-top: 10px;">
                            <label for="opensub-username" class="sr-only">Username</label>
                            <input type="text" name="opensub-username" class="form-control username" placeholder="Username">
                            <label for="opensub-password" class="sr-only">Password</label>
                            <input type="password" name="opensub-password" class="form-control" placeholder="Password">
                        </div>

                        <div>
                            Need to create an account?
                            <a href="https://www.opensubtitles.org/newuser" target="_blank" rel="noopener">Sign Up</a>
                        </div>

                        <div style="margin: 10px 0; color: #888;">
                            * Credentials for OpenSubtitles are not required,
                            and if it isn't set or the subtitle for a file is not found,
                            the <a href="http://thesubdb.com/" target="_blank" rel="noopener" style="color: #888;font-weight: bold;">SubDB</a>
                            will be used to lookup for subtitles.
                        </div>
                    </div>
                </div>

                <button class="btn btn-lg btn-warning btn-block" type="submit">Conclude</button>
            </form>
        </div>
    </body>
</html>
